.card-wrapper {
  background-color: #f0e9e9;
  border: 1px solid #b5adad;
  box-shadow: 1px 1px 3px 0 #0000001a;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  width: calc(100% / 1);

  @media screen and (min-width: 600px) {
    width: calc(100% / 3);
  }

  @media screen and (min-width: 1024px) {
    width: calc(100% / 4);
  }

  @media screen and (min-width: 1280px) {
    width: calc(100% / 5);
  }
}

.content-wrapper {
  flex: 1 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.text-wrapper {
  padding: 20px;
}

.image-wrapper {
  position: relative;
  padding-top: 55%;
  overflow: hidden;
  width: 100%;
  height: auto;
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: scale(1.02);
  }
}

.card-button-wrapper {
  position: relative;
  padding-bottom: 20px;
}

.cart-counter-product-in-cart {
  color: #8a0e0e;
  border-color: #8a0e0e;
}
